[build-system]
requires = ["ase", "numpy", "setuptools", "scipy", "versioneer[toml]==0.29"]
build-backend = "setuptools.build_meta"

[project]
name = "structuretoolkit"
description = "build, analyse and visualise atomistic structures for materials science"
authors = [
    { name = "Jan Janssen", email = "janssen@mpie.de" },
]
readme = "README.md"
license = { file = "LICENSE" }
keywords = ["pyiron"]
requires-python = ">=3.9, <3.13"
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Topic :: Scientific/Engineering :: Physics",
    "License :: OSI Approved :: BSD License",
    "Intended Audience :: Science/Research",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
]
dependencies = [
    "ase==3.23.0",
    "numpy==1.26.4",
    "scipy==1.14.0",
]
dynamic = ["version"]

[project.urls]
Homepage = "https://github.com/pyiron/structuretoolkit"
Documentation = "https://github.com/pyiron/structuretoolkit"
Repository = "https://github.com/pyiron/structuretoolkit"

[project.optional-dependencies]
dscribe = ["dscribe==2.1.1"]
grainboundary = [
    "aimsgb==1.1.1",
    "pymatgen==2024.6.10",
]
pyscal = ["pyscal2==2.10.18"]
nglview = ["nglview==3.1.2"]
matplotlib = ["matplotlib==3.8.4"]
plotly = ["plotly==5.22.0"]
clusters = ["scikit-learn==1.5.1"]
symmetry = ["spglib==2.4.0"]
surface = [
    "spglib==2.4.0",
    "pymatgen==2024.6.10",
]
phonopy = [
    "phonopy==2.26.2",
    "spglib==2.4.0",
]
pyxtal = ["pyxtal==0.6.7"]

[tool.setuptools.packages.find]
include = ["structuretoolkit*"]

[tool.setuptools.dynamic]
version = {attr = "structuretoolkit.__version__"}

[tool.versioneer]
VCS = "git"
style = "pep440-pre"
versionfile_source = "structuretoolkit/_version.py"
parentdir_prefix = "structuretoolkit"
tag_prefix = "structuretoolkit-"
