name: pyiron-structuretoolkit
channels:
- conda-forge
dependencies:
- aimsgb =1.1.1
- ase =3.27.0
- coverage
- dscribe =2.1.2
- matplotlib-base =3.10.8
- nglview =3.1.4
- notebook
- numpy =2.3.5
- phonopy =2.47.1
- plotly =6.5.0
- pymatgen =2025.10.7
- pyscal3 =3.3.0
- scikit-learn =1.7.2
- scipy =1.16.3
- spglib =2.7.0
- sqsgenerator =0.3
- hatchling =1.28.0
- hatch-vcs =0.5.0
